@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --header-color: #212445;
}

body {
  background-color:  #131720;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
}

.link{
  text-decoration: none;
}
.page-not-found, .error{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.header .footer-social-media {
  color: whitesmoke;
}
.header .footer-social-media .fab {
  padding: 0 1em;
  color: #212445;
  cursor: pointer;
  transition: color 1000ms linear;
}
.header .footer-social-media .fab:hover {
  color: #ffffff;
}


div.display {
  min-height: 100vh;
}
.main-search {
  text-align: center;
  margin: 1em;
}

.show .label, .details-text .label{
    color: #18bbf7;
}
.show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
}

.show-wrapper .show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 1em;
  justify-items: center;
  align-items: center;
}
.show-wrapper .show img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.show-wrapper .image-wrapper {
  position: relative;
  max-width: 200px;
}

.show-wrapper .image-wrapper .title,
.release-date,
.designation,
.link {
  padding: 0 1em;
  max-width: 300px;
  color: whitesmoke;
}

.show-wrapper .rating {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 9;
  background-color: #042224;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}



/* Styling movie details */
.details {
  position: relative;
  min-height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #050811;
  opacity: 0.8;
}
.fa-link {
  color: green;
  transition: color 1000ms linear;
}
.fa-link:hover {
  color: brown;
}
.details h2,
.details h1 {
  color: yellowgreen;
}
.wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 2em;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .image-wrapper img {
  border-radius: 10px;
  margin-right: 1em;
}
.details-text {
  background-color: #050811;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}
.details p {
  margin-bottom: 5px;
  font-weight: 900;
}
.details .fine-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.details .fine-details p::before {
  content: "";
  display: inline-block;
  margin-right: 0.5em;
  width: 10px;
  height: 10px;
  background-color: burlywood;
  border-radius: 50%;
}
.tag-line {
  color: burlywood;
}
.run-time,
.details-date,
.sub-genre {
  padding-right: 1em;
}

.home-link a {
  text-decoration: none;
}
.seasons-header {
  display: flex;
  justify-content: space-between;
}

.season {
  background-color: #282828;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}

/* Styling scroll bars  */

body::-webkit-scrollbar {
  width: 1em;
  background-color: burlywood;
}
body::-webkit-scrollbar-thumb {
  background-color: #212445;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .header {
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.2em;
  }
  .wrapper{
      width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .show-wrapper .show {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 450px) {
  .show-wrapper .show {
    grid-template-columns: 1fr;
  }
}
