@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --header-color: #212445;
}

body {
  background-color: #042224;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
}
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 3em;
}
.header .logo-text .logo-text-2 {
  color: brown;
}
.header .footer-social-media {
  color: whitesmoke;
}
.header .footer-social-media .fab {
  padding: 0 1em;
  color: #212445;
  cursor: pointer;
  transition: color 1000ms linear;
}
.header .footer-social-media .fab:hover {
  color: #ffffff;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header-menu ul li a {
  padding: 1em;
  cursor: pointer;
  color: brown;
  font-weight: 700;
  transition: color 1000ms ease-in-out;
  text-decoration: none;
}
.header .header-menu .active-menu {
  color: yellowgreen;
}
.header-menu ul li a:hover {
  color: yellowgreen;
}
.hamburger-menu-icon {
  display: none;
}
div.display {
  min-height: 100vh;
}
.main-search {
  text-align: center;
  margin: 1em;
}
.main-search input {
  padding: 0.2em 1em;
  color: #ffffff;
  font-weight: 700;
  margin: 0 0.1em;
  height: 28px;
  border: 1px solid black;
  outline: 3px solid #042224;
  background-color: black;
  box-shadow: 2px 3px 4px black;
}
.main-search input:focus {
  color: brown;
}
.genre-wrapper {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
  position: relative;
}

.arrow-btn {
  padding: 3px 3em;
  color: #ffffff;
  margin: 0 0.1em;
  cursor: pointer;
  height: 28px;
  border: 1px solid black;
  outline: 3px solid #042224;
  background-color: black;
  box-shadow: 2px 3px 4px black;
}
.movie-main-title {
  height: 28px;
}
.genres {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: auto;
  font-weight: 900;
}
.genres button {
  background-color: #042224;
  border: 1px solid transparent;
  margin: 0.5em;
  padding: 1em;
  outline: 3px solid #042224;
  box-shadow: 2px 3px 4px black;
}
.genres a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  width: 100%;
  height: 100%;
  transition: color 500ms linear;
}
.genres a:hover {
  color: yellowgreen;
}
.genre-name,
.movie-main-title {
  margin: 0 0.1em;
  padding: 3px 3em;
  color: #ffffff;
  outline: 3px solid #042224;
  background-color: black;
  box-shadow: 2px 3px 4px black;
}
p.show-title {
  text-align: center;
  padding: 1em 0em 0em 0em;
  font-weight: 1000;
}

.show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
}

.show-wrapper .show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 1em;
  justify-items: center;
  align-items: center;
}
.show-wrapper .show img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: auto;
}

.show-wrapper .image-wrapper {
  box-shadow: 2px 3px 10px black;
  position: relative;
}

.show-wrapper .image-wrapper .title,
.release-date,
.designation,
.link {
  padding: 0 1em;
  max-width: 300px;
  color: whitesmoke;
}
.show-wrapper .link a {
  text-decoration: none;
}

.show-wrapper .rating {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 9;
  background-color: #042224;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
.pages p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages button {
  padding: 0.5em 1em;
  border: none;
  outline: 3px solid #042224;
  background-color: #000;
  color: #212445;
  box-shadow: 2px 3px 4px black;
}

.pages .controls {
  cursor: pointer;
  transition: all linear 500ms;
}
.pages .controls:hover {
  color: whitesmoke;
}
.footer {
  background-color: black;
}
.footer .logo-sharepage-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
}
.footer .logo-sharepage-wrapper .logo-text {
  font-size: inherit;
  font-weight: inherit;
}
.footer .fab {
  padding: 1em;
  color: var(--header-color);
  cursor: pointer;
}
.footer-copyright p {
  text-align: center;
  padding: 2em;
}

/* Styling movie details */
.details {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: black;
  opacity: 0.8;
}
.wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 2em;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .image-wrapper img{
    border-radius: 10px;
    margin-right: 2em ;
}
.details p{
   
    margin-bottom: 5px;
    font-weight: 900;
   
  
}
/* Styling scroll bars  */

body::-webkit-scrollbar {
  width: 1em;
  background-color: burlywood;
}
body::-webkit-scrollbar-thumb {
  background-color: #212445;
  border-radius: 10px;
}

/* Loading icon */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid brown;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.2em;
  }
}

@media screen and (max-width: 800px) {
  .show-wrapper .show {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .header-menu ul {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .hamburger-menu-icon {
    display: block;
    z-index: 20;
    cursor: pointer;
  }
  .header-menu ul.display-menu {
    opacity: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    background-color: black;
  }
  .header-menu ul.display-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu ul.display-menu li {
    transition: color 1000ms ease-in-out;
  }
  .header-menu ul.display-menu li:hover {
    color: whitesmoke;
  }
}

@media screen and (max-width: 450px) {
  .show-wrapper .show {
    grid-template-columns: 1fr;
  }
}
